### Package

The three year goals of the Package group (high-level [roadmap](https://gitlab.com/groups/gitlab-org/-/roadmap?scope=all&utf8=✓&state=opened&label_name[]=devops%3A%3Apackage); [SMAU (Stage Monthly Active Users) dashboard](https://app.periscopedata.com/app/gitlab/527857/Package-GitLab.com-Stage-Activity-Dashboard---DAU-(7-day-rolling-average)) are:
    
1. Build a set of features that, within three years, will allow ninety percent of our customers to store all of their packages in GitLab. 
1. Unify the Container Registry and the Package Registry to create a seamless user experience for building, testing and releasing code. We will achieve this through [improving the usability of our existing registries](https://gitlab.com/groups/gitlab-org/-/epics/1241) and [standardizing authentication and permissions](https://gitlab.com/groups/gitlab-org/-/epics/1243) for each package manager, as well as [creating visibility and transparency](https://gitlab.com/groups/gitlab-org/-/epics/1244) into the Package and Container Registry itself.
1. Work our customers and the GitLab Community to drive contributions. This is the only and best way to achieve adding support for all of the most common [package manager formats](https://gitlab.com/groups/gitlab-org/-/epics/1245) in a timely manner.
1. Improve the performance and reliability of builds by reducing reliance on external dependencies.

The details of how we'll achieve different elements of this can be found in the individual category pages below:

<%= partial("direction/categories-content", :locals => { :stageKey => "package" }) %>
