@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

// sass-lint:disable no-qualifying-elements

/**/

.max-width-400 img {
  display: inline-block;
  margin-top: 30px;
  max-width: 400px;
}

.wrapper a:active img,
.wrapper a:focus img,
.wrapper a:hover img {
  transform: scale(1.05);
  transition: all 300;
}

.wrapper h1,
.wrapper h2,
.wrapper h3,
.wrapper h4,
.wrapper h5,
.wrapper h6 {
  color: $color-primary;
  margin-top: 0;
}

.wrapper .no-color {
  color: #333333;
}

.wrapper hr {
  border-width: 2px;
  clear: both;
  margin: 60px 0;
}

.wrapper strong a {
  font-weight: 700;
}

.container {
  max-width: 100%;
}

/**/

.header-start {
  border: 0 none;
  margin-top: 20px;
}

.header-right {
  float: right;
  width: 20%;
}

.header-left {
  float: left;
  width: 75%;
}

h1.header-left {
  color: $color-primary;
  font-size: 60px;
}

p.header-left {
  font-size: 30px;
}

.header-left .cta-btn {
  margin-top: 15px;
}

.header-end {
  border: 0 none;
  margin: 40px 0px;
}

/**/

.wrapper blockquote {
  border-left: 5px solid #cccccc;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px 10px 30px;
}

/**/

.list-benefits {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list-benefits > li {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: block;
  flex: 0 0 auto;
  font-size: 18px;
  font-weight: 700;
  margin: 0px 20px 20px 0px;
  padding: 20px;
  width: calc(50% - 20px);
}

.list-benefits ul {
  margin: 0;
  padding: 0;
}

.list-benefits li li {
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/**/

.list-capabilities {
  margin-left: 0;
  padding-left: 0;
}

.list-capabilities li {
  display: block;
}

.list-capabilities img {
  display: inline-block;
  font-size: 0;
  height: 60px;
  margin-right: 8px;
  width: 60px;
}

.list-capabilities > li {
  font-size: 21px;
  font-weight: 600;
  margin-top: 30px;
}

.list-capabilities ul {
  padding-left: 0;
}

.list-capabilities li li {
  font-size: 15px;
  font-weight: 400;
}

/**/

.list-resources {
  font-size: 15px;
}

@media (max-width: 721px) {
  .header-right {
    display: none;
  }
}
